@page "/agency"
@using System.Net.Http
@using System.Text.Json
@using VoddalmBlazor.Models
@inject HttpClient httpClient

<!-- Author Felix -->
@if (agencyList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="agency-list">
        @foreach (var agencies in agencyList)
        {
            <div class="agency-item">
                <div class="card-container">
                    <div class="image-container">
                        @if (!string.IsNullOrEmpty(agencies.logoUrl))
                        {
                            <img src="@agencies.logoUrl" alt="Agency Logo" class="agency-logo" />
                        }
                        else
                        {
                            <img src="placeholder.jpg" alt="No Logo Available" />
                        }
                    </div>
                    <div class="info-container">
                        <ul>
                            <li><strong>Company:</strong> @agencies.name</li>
                            <li><strong>Presentation:</strong> @agencies.presentation</li>
                            <li><strong>Brokers:</strong></li>
                            <ul>
                                @foreach (var broker in agencies.brokers)
                                {
                                    <li>@broker.firstName @broker.lastName</li>
                                }
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}



@code {
    private List<Agencies> agencyList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            agencyList = await httpClient.GetFromJsonAsync<List<Agencies>>("https://localhost:7046/api/Agency/");

            
        }
        catch (Exception ex)
        {
            // Handle exception (e.g., log, display error message)
            Console.WriteLine($"Error fetching brokers: {ex.Message}");
        }
    }
}