@page "/brokers"
@using System.Net.Http
@using System.Text.Json
@using VoddalmBlazor.Models
@inject HttpClient httpClient

<!-- Author Kim Jonsson// -->

@if (brokerList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="broker-list">
        @foreach (var broker in brokerList)
        {
            <div class="broker-item">
                <div class="broker-image">
                    <a href="@($"BrokerDetails/{broker.id}")">
                        <img src="@broker.imageUrl" alt="Broker Image" />
                    </a>
                </div>

                <div class="broker-details">
                    <div><strong>Name:</strong> @broker.firstName @broker.lastName</div>
                    <div><strong>Agency:</strong> <a href="@($"AgencyDetails/{broker.agency.id}")">@broker.agency.name</a></div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List <Broker> brokerList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            brokerList = await httpClient.GetFromJsonAsync<List<Broker>>("https://localhost:7046/api/Broker");
        }
        catch (Exception ex)
        {
            
            Console.WriteLine($"Error fetching brokers: {ex.Message}");
        }
    }
}
